services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=3000 # Set User to user with volume permission
      - PGID=3000 # Set Group to group with volume permission
      - TZ=US/Mountain
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - /opt/ssd/config/jellyfin:/config
      - /mnt/media/tv-shows:/data/tvshows
      - /mnt/media/movies:/data/movies
    ports:
      - 8096:8096
    restart: unless-stopped
    networks:
      - reverse-proxy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

networks:
  reverse-proxy:
    external: true
