:root {
    --red-orange:#d55e2d;
    --concrete:  #d8d8d6;
    --royal:     #2f5d8c;
    --slate:     #a0b3c1;
    --off-white: #f9f9f9;
}

body {
	margin: 0;
	background-color: var(--concrete);
    font-family: Arial, Helvetica, sans-serif;
}
.main {
	padding: 20px;
	margin-top: 5%;
    width: 90%;
}

.about {
	font-size: 16px;
	text-align: left;
	width: 60%;
	margin: auto;
}

/* BELOW IS FOR THE NAVBAR */
.navbar {
	background-color: var(--slate);
	/* position: fixed; */
	margin: 0;
	padding: 1%;
	top: 0;
	width: 98%;
	list-style-type: none;
	overflow: hidden;
}
.nav {
	display: block;
	color: var(--royal);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: left;
}
.soc {
	float: right;
}
.nav:hover {
	background-color: var(--off-white);
}

/* BELOW IS FOR HEADINGS */
.name {
	margin: auto;
	font-size: 5vw;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 8px 8px 5px var(--red-orange);
    color: #000000;
    font-family: "Lucida Handwriting", Cursive;
}
.s-header {
	margin: auto;
	font-size: 2vw;
	text-align: center;
	text-transform: uppercase;
}

/* FOR THE PROJECTS SECTION */
ul {
	list-style-type: none;
	justify-content: center;
	margin: auto;
	text-align: center;
}
.flex-container {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
}
.row {
	display: flex;
	flex-flow: row wrap;
	gap: 1%;
    justify-content: center;
    align-items: center;
}
.col3 {
	flex: 0 0 30%;
	margin: 0 auto;
}
div img {
	width: 100%;
	max-width: 250px;
}

/* BELOW IS FOR THE ACCORDION ON EXPIERENCE */
.accordion {
	background-color: var(--slate);
	color: var(--royal);
	cursor: pointer;
	padding: 18px;
	width: 50%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	margin: auto;
}
.active,
.accordion:hover {
	background-color: var(--off-white);
}
.content {
	margin: auto;
	width: 50%;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	list-style-type: none;
	padding: 0 5%;
}
div.panel {
	display: none;
}
div.panel.show {
	display: block !important;
}
.accordion:after {
	content: "\02795";
	font-size: 13px;
	color: var(--royal);
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2796";
}